@import '@/styles/variables.scss';

body, html, #app {
    font-size: 16px;
    background-color: $background-color;
}
%item {
    word-wrap: break-word;
    padding: 10px;
    background-color: $primary-color;
    border-radius: 3px;
}
.main-item {
    @extend %item;
    border: 1px solid $border-color;
    margin-bottom: 10px;

    &.select:hover {
        cursor: pointer;
        border: 1px solid $secondary-color;
    }
}

.side-item {
    @extend %item;
    margin-bottom: 30px;
}

.side-item-header {
    text-transform: uppercase;
    font-weight: bold;
    color: $text-secondary-color;
    padding: 8px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: $secondary-color;
}

.side-item-body {
    padding-top: 10px;
    p, h5 { 
        &.small {
            font-size: 0.75rem;
            font-weight: bold;
        }
        margin: 0; 
    }

    ol {
        list-style-position: inside;
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

    .stats {
        border-right: 1px solid $border-color;
    }

    button {
        width: 100%;
    }
}