$font-stack: ('Lato', sans-serif);

/* Color variables */
$background-color: rgb(65, 65, 66);
$text-color: rgb(226, 230, 221);
$border-color: rgb(82, 82, 82);
$text-hover-color: rgb(64, 137, 137);
$shadow-color: rgb(34, 34, 34);
$fill-color: rgb(30, 65, 65);